# Python packaging
*.egg-info/
dist/
build/

# Byte-compiled
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

dqn_sumo_agent.zip
tensorboard_dqn/DQN*
.vscode/settings.json

# RL artifacts
outputs/
*.pth
*.pt
.env
wandb/

.idea/
launcher.sh
