# Python packaging
*.egg-info/
dist/
build/

# Byte-compiled
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

dqn_sumo_agent.zip
tensorboard_dqn/DQN*
.vscode/settings.json

# RL artifacts
logs/
models/
checkpoints/
tensorboard/
runs/
*.zip
*.pth
*.pt