
gymnasium==1.2.3
matplotlib==3.10.8
numpy==2.2.6
packaging==26.0
pandas==2.3.3
protobuf==6.33.5
pyparsing==3.3.2
stable-baselines3==2.7.1
sumolib==1.26.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==2.10.0
traci==1.26.0
typing-extensions==4.15.0
tzdata==2025.3
